

body{
    background:#68e0e0 ;
   min-height: 100vh;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}


.contact-info{
    color: #111010;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info [i]{
    margin-right: 20px;
    font-size: 25px;
}

.contact{
    max-width: 700px;
    margin-right: 50px;
}

.contact-info ,.contact{
    flex: 1;
}
.contact{
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% -10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0,0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact .text-box:first-child{
    margin-right: 15px;
}

.contact{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact .send-btn{
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 2px;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
transition-property: all;


}

.contact .send-btn:hover{
    background: #1ad8cf;
}
@media screen and (max-width:950px){
    .contact-section{
        flex-direction: column;
    }
    .contact-info,.contact{
        margin: 30px 50px;

    }
    .contact[ h2]{
        font-size: 30px;
    }

    .contact .text-box{
        width: 100%;
    }
}
@media (max-width:1500px) {
    body {
        background-color:#68e0e0 ;
    }
}

@media (max-width:1000px) {
    body {
        background-color: #68e0e0 ;
    }
}

@media (max-width:600px) {
    body {
        background-color: #68e0e0 ;
    }
}

